<div style="text-align:center">
  <h1>
    Hello, Milsymbol-Showcase!
  </h1>

  <p>This demo showcases the usage of the Milsymbol library in angular projects.</p>
  <p>Official Website of Milsymbol: <span><a href="https://spatialillusions.com/milsymbol/index.html">Milsymbol from spatialillusions</a></span></p>
  <p>Official Documentation of Milsymbol: <span><a href="https://spatialillusions.com/milsymbol/documentation.html">Documentation</a></span></p>

  <div>
    <img [src]="createMilsymbol('SFG--------N---')" alt="SVG Image" />
    <img [src]="createMilsymbol('SFG-UCI----A')" alt="SVG Image" />
    <img [src]="createMilsymbol('SFG-UCI----G')" alt="SVG Image" />
    <img [src]="createMilsymbol('SFG-UCI----C')" alt="SVG Image" />
  </div>
</div>